body{
    background-color: gray;
    background-color: rgb(27, 10, 10);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;

    box-shadow: 0px 10px 25px rgba(0,0,0,0.4);
    
    overflow-y: auto;
     -webkit-overflow-scrolling: touch;
}
    

span{
    display:inline-block;
    padding:15px 35px;
    background:rgba(255,255,255,.08);
    border:3px solid rgb(131, 97, 2);
    border-radius:15px;
    
    
    
    
}
h1{
    color: white;
    font-size: 250%;
    position: relative;
    text-align: center;

    margin-top:40px;
    margin-bottom:30px;
    letter-spacing:3px;
    
    
    
    
}

ul{ 
    color: white;
    font-size: 170%;
    margin:0;
    padding-left:25px;
    text-align: left;
    

}
#p2{
    color: white;
    font-size: 200%;
    text-shadow: 5px 5px 5px black;
}
/* div */
.container{
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    gap: 30px;
}
.box1{
   
    padding:30px;
    border-color: white;
    border:2px solid rgb(131, 97, 2);
    border-width: 5px;
    border-radius: 40px;
    width: 450px;
    min-height: 450px;
    margin: 50px;
    padding: 20px;

    box-sizing: border-box;

     background: rgba(255,255,255,0.06);
    backdrop-filter: blur(10px);


     scroll-snap-align: start;
    animation: glow 2s infinite alternate;
}
a{
    color: white;
}


.special{
    
}
    

   

  @keyframes glowaf {
    from {
        box-shadow: 0 0 5px rgb(131, 97, 2);
    }
    to {
        box-shadow:
            0 0 10px rgb(131, 97, 2),
            0 0 20px rgb(131, 97, 2),
            0 0 35px rgb(131, 97, 2);
    }
}  

.box1:hover{
    transform: translateY(-10px);
    box-shadow:
        0 0 20px rgb(131, 97, 2),
        0 0 40px rgb(131, 97, 2);
}

li{
    margin:12px 0;
    transition:.3s;
}
li:hover{
    color:rgb(131, 97, 2);
    transform:translateX(8px);
}

html{
    scroll-behavior: smooth;
     -webkit-overflow-scrolling: touch;
}



