body{
    background-color: gray;
    background-color: rgb(27, 10, 10);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;

    box-shadow: 0px 10px 25px rgba(0,0,0,0.4);
    
    overflow-y: auto;
     -webkit-overflow-scrolling: touch;
}

.navbar{

    
    background: #2b2118;
    height: 75px;
    display: flex;
    align-items: center;
    padding: 0 50px;
    top:0;
    z-index: 1000;
    flex-direction: row;
    word-spacing: 16%;
    
    
    
    
}
.nav-link{
    
    flex-direction: row;
    gap: 30px;
    list-style: none;
}
h1{
    color: white;
    font-size: 350%;
    position: relative;
    text-align: left;

    margin-top:40px;
    margin-bottom:30px;
    letter-spacing:3px;
    text-shadow: 5px 5px 5px black;
    
}

#container1
{
    display: flex;
    flex-wrap:wrap;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
}
.container2{
   
    padding:30px;
    border-color: white;
    border:2px solid rgb(131, 97, 2);
    border-width: 5px;
    border-radius: 40px;
    width: 1000px;
    min-height: 450px;
    margin: 50px;
    padding: 20px;

    box-sizing: border-box;

     background: rgba(255,255,255,0.06);
    backdrop-filter: blur(10px);


     scroll-snap-align: start;
    animation: glow 2s infinite alternate;
}
ul{ 
    color: white;
    font-size: 180%;
    margin: 20px;
    padding-left:18px;
    text-align: left;

   
}
    


li{
    padding-left: 30px;
    font-size: 180%;
    margin:13px;
    transition:.3s;
    text-shadow: 5px 5px 5px black;
}
li:hover{
    color:rgb(131, 97, 2);
    transform:translateX(8px);
}
html{
    scroll-behavior: smooth;
     -webkit-overflow-scrolling: touch;
}
#cena{
    font-size:30px;
    color:gold;
    font-weight:bold;
    text-shadow: 5px 5px 5px black;
    
}
img{
    width:400px;
    max-width:100%;
    border-radius:30px;
    box-shadow:0 0 20px rgba(0,0,0,.5);
    
    
}
#sostojki{
    color: white;
    text-align: center;
    text-shadow: 5px 5px 5px black;
    
}
a{
    color: white;
    text-decoration: none;
    transition:.3s;
}
a:hover{
    color:gold;
}

#navdiv{
    
  background: #2b2118;
    height: 75px;
    display: flex;
    align-items: center;
    padding: 0 50px;
    top:0;
    z-index: 1000;
    flex-direction: row; 
    position: sticky;
    font-size: 10px
      
    
}
.logo{
    padding-left: 1px;
    margin-left: -6%;
    
}
    

#navdiv::-webkit-scrollbar{
    display: none;
}
#L{
    
    width: 60px;
    border-radius: 0%;
}